.App {
  max-width: 1280px;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.user {
  flex: 1;
}

.title {
  display: flex;
  flex: 3;
  justify-content: center;
 }

.App-title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.signed-in-user, .signed-out-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.user-photo {
  height: 50px;
  width: 50px;
}

.user-display-name {
  font-size: 0.6em;
  width: 200px;
  height:20px;
  margin: 0px 7px 0px 7px;
  text-align: center;
}

.sign-in-button {
  width: 130px;
}
main {
  display: flex;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

.room-list {
  background: #DDD;
  display: flex;
  flex: 1;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.rooms-header {
  box-sizing: content-box;
  width: 100%;
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.room {
  display: flex;
}

#create-room-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-room-label {
  margin: 10px 0 5px 0;
}

#create-room-prompt {
  font-size: 1.2em;
}

#create-room-field {
  font-size: 1.2em;
  width: 200px;
  margin: 5px 5px 10px 5px;
}

#create-room-button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 1em;
  border-radius: 3px;
  width: 75px;
  text-align: center;
  padding: 7px 0;
}

#create-room-button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

#create-room-button:active {
  transform: translateY(1px);
}

.message-list {
  background: #EEE;
  display: flex;
  flex: 3;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  width: 100%;
}

.messages-header {
  width: 100%;
  background: #FFFFFF;
  border-bottom: 3px solid #DDDDDD;
}

.messages-header h2 {
  padding-left: 20px;
}

.messages {
  flex: 1;
  width: 100%;
 }

.message {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.message:nth-child(even) {
  background: #FFFFFF;

}
